openapi: 3.0.0
info:
  version: 1.0.0-alpha
  title: Draft WMTS API KVP version for Discussion Purposes Only
  description: >
    Draft (unofficial for discussion purposes only) WMTS API for getting OGC WMTS resources under a key-value-pair (KVP) procedural-oriented architectural style described in version 1.0.0 of the OGC 07-057r7 OpenGIS Web Map Tile Service Implementation Standard at www.opengeospatial.org/standards/wmts.
  termsOfService: http://cite.deegree.org/deegree-webservices-3.4-RC3/
  contact:
    name: OGC Tech Desk
    email: techdesk@opengeospatial.org
  license:
    name: CC-BY 4.0 license
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wmts100
paths:
  /:
    get:
      summary: WMTS GetCapabilities.
      description: Retrieve WMTS capabilities using a KVP request.
      parameters:
        - in: query
          name: service
          required: true
          schema:
            type: string
            enum:
              - WMTS
        - in: query
          name: version
          required: true
          schema:
            type: string
            enum:
              - 1.0.0
        - in: query
          name: request
          required: true
          schema:
            type: string
            enum:
              - GetCapabilities
        - in: query
          name: acceptVersions
          required: false
          schema:
            type: string
            enum:
              - 1.0.0
        - in: query
          name: updateSequence
          required: false
          schema:
            type: string
        - in: query
          name: acceptFormats
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Capabilities'
        '400':
          description: Known exception.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - MissingParameterValue
                      - InvalidParameterValue
                      - VersionNegotiationFailed
                      - InvalideUpdateSequence
                  message:
                    type: string
                    enum:
                      - Bad request
        '500':
          description: No other execption code specified by this service.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - NoApplicableCode
                  message:
                    type: string
                    enum:
                      - Internal server error
  /getTile:
    get:
      summary: WMTS GetTile.
      description: Retrieve a Tile using a KVP request.
      parameters:  # layer and format already specified in resourceURL
        - $ref: "#/components/parameters/serviceParam"
        - $ref: "#/components/parameters/requestParam"
        - $ref: "#/components/parameters/versionParam"
        - $ref: "#/components/parameters/layerParam"
        - $ref: "#/components/parameters/styleParam"
        - $ref: "#/components/parameters/formatParam"
        - $ref: "#/components/parameters/dimensionParam"
        - $ref: "#/components/parameters/tileMatrixSetParam"
        - $ref: "#/components/parameters/tileMatrixParam"
        - $ref: "#/components/parameters/tileRowParam"
        - $ref: "#/components/parameters/tileColParam"
      responses:
        '200':
          description: OK
          content:
            'image/*':
              schema:
                type: string
                format: binary
        '400':
          description: Known exception.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - MissingParameterValue
                      - InvalidParameterValue
                      - InvalideUpdateSequence
                  message:
                    type: string
                    enum:
                      - Bad request
        '500':
          description: No other execption code specified by this service.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - NoApplicableCode
                  message:
                    type: string
                    enum:
                      - Internal server error
        '501':
          description: Operation not supported by this service.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - OperationNotSupported
                  message:
                    type: string
                    enum:
                      - Not implemented
# Note: FeatureInfo support is optional
  /getFeatureInfo:
    get:
      summary: WMTS GetFeatureInfo.
      description: Retrieve FeatureInfo using a KVP request.
      parameters:  # layer and format already specified in resourceURL
        - $ref: "#/components/parameters/serviceParam"
        - $ref: "#/components/parameters/requestParam"
        - $ref: "#/components/parameters/versionParam"
        - $ref: "#/components/parameters/layerParam"
        - $ref: "#/components/parameters/styleParam"
        - $ref: "#/components/parameters/formatParam"
        - $ref: "#/components/parameters/dimensionParam"
        - $ref: "#/components/parameters/tileMatrixSetParam"
        - $ref: "#/components/parameters/tileMatrixParam"
        - $ref: "#/components/parameters/tileRowParam"
        - $ref: "#/components/parameters/tileColParam"
        - $ref: "#/components/parameters/jParam"
        - $ref: "#/components/parameters/iParam"
        - $ref: "#/components/parameters/infoFormatParam"
      responses:
        '200':
          description: OK
          content:
            'application/gml+xml':
              schema:
                $ref: '#/components/schemas/featureGML'
        '400':
          description: Known exception.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - MissingParameterValue
                      - InvalidParameterValue
                      - TileOutOfRange
                      - PointIJOutOfRange
                  message:
                    type: string
                    enum:
                      - Bad request
        '500':
          description: No other execption code specified by this service.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - NoApplicableCode
                  message:
                    type: string
                    enum:
                      - Internal server error
        '501':
          description: Operation not supported by this service.
          content:
            text/plain:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    enum:
                      - OperationNotSupported
                  message:
                    type: string
                    enum:
                      - Not implemented
components:
  parameters:
    serviceParam:
      in: query
      name: service
      required: true
      schema:
        type: string
        enum:
          - WMTS
    requestParam:
      in: query
      name: request
      required: true
      schema:
        type: string
        enum:
          - GetCapabilities
    versionParam:
      in: query
      name: version
      required: true
      schema:
        type: string
        enum:
          - 1.0.0
    layerParam:
      in: query
      name: layer
      required: true
      schema:
        type: string
      example: 'coastlines'
    styleParam:
      in: query
      name: style
      required: true
      schema:
        type: string  # ows:CodeType per WMTS Spec Table 7
      example: 'blue'
    formatParam:
      in: query
      name: format
      required: true
      schema:
        type: string
      example: 'image/png'
    dimensionParam:  # Refer to WMS 1.3.0 Annex C
      in: query
      name: dimension
      schema:
        type: string
      example: '2007-05' # if ServiceMetadata <Dimension><Identifier> is 'TIME'
    tileMatrixSetParam:
      in: query
      name: tileMatrixSet
      required: true
      schema:
        type: string
      example: 'coastlinesInCrs84'
    tileMatrixParam:  # scale
      in: query
      name: tileMatrix
      required: true
      schema:
        type: string
      example: '5e6'
    tileRowParam:
      in: query
      name: tileRow
      required: true
      schema:
        type: string
      example: '42'
    tileColParam:
      in: query
      name: tileCol
      required: true
      schema:
        type: string
      example: '112'
    jParam:
      in: query
      name: j
      required: true
      schema:
        type: string
      example: '23'
    iParam:
      in: query
      name: i
      required: true
      schema:
        type: string
      example: '35'
    infoFormatParam:
      in: query
      name: infoFormat
      required: true
      schema:
        type: string
      example: 'text/html'
  schemas:
    Capabilities:
      type: object
      required:
        - Version
      properties:
        xmlns:
          type: string
          xml:
            attribute: true
          enum:
            - 'http://www.opengis.net/wmts/1.0'
        xnlns:ows:
          type: string
          xml:
            attribute: true
          enum:
            - 'http://www.opengis.net/ows/1.1'
        xnlns:xlink:
          type: string
          xml:
            attribute: true
          enum:
            - 'http://www.w3.org/1999/xlink'
        xnlns:xsi:
          type: string
          xml:
            attribute: true
          enum:
            - 'http://www.w3.org/2001/XMLSchema-instance'
        xnlns:gml:
          type: string
          xml:
            attribute: true
          enum:
            - 'http://www.opengis.net/gml'
        xsi:schemaLocation:
          type: string
          xml:
            attribute: true
          enum:
            - 'http://www.opengis.net/wmts/1.0 http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd'
        Version:
          type: string
          xml:
            attribute: true
          enum:
            - '1.0.0'
        updateSequence:
          type: string
        owsServiceIdentification:
          $ref: '#/components/schemas/owsServiceIdentification'
        owsServiceProvider:
          $ref: '#/components/schemas/owsServiceProvider'
        Contents:
          $ref: '#/components/schemas/Contents'
        Themes:
          $ref: '#/components/schemas/Themes'
    owsServiceIdentification:
      type: object
      required:
        - ows:Title
      properties:
        ows:Title:
          type: object
        owsAbstract:
          type: object
        owsKeywords:
          type: object
        owsServiceType:
          type: object
        owsServiceTypeVersion:
          type: object
        owsFees:
          type: object
        owsAccessConstraints:
          type: object
      xml:
        prefix: "ows"
        namespace: 'http://www.opengis.net/ows/1.1'
    owsServiceProvider:
      type: object
      required:
        - owsIndividualName
      properties:
        owsIndividualName:
          type: object
        owsPositionName:
          type: object
        owsContactInfo:
          type: object
      xml:
        prefix: "ows"
        namespace: 'http://www.opengis.net/ows/1.1'
    owsOperationsMetadata:
      type: object
      required:
        - getCapabilitiesOperation
        - getTileOperation
      properties:
        getCapabilitiesOperation:
          type: object
          properties:
            xx:
              type: object

        getTileOperation:
          type: object
        getFeatureInfoOperation:
          type: object
      xml:
        prefix: "ows"
        namespace: 'http://www.opengis.net/ows/1.1'
    Contents:
      type: object
      properties:
        Layer:
          $ref: '#/components/schemas/Layer'
        tileMatrixSet:
          $ref: '#/components/schemas/tileMatrixSet'
        otherSource:
          type: string
    Layer:
      type: object
      required:
        - owsIdentifier
        - Style
        - Format
        - tileMatrixSetLink
        - resourceURL
      properties:
        owsIdentifier:
          type: string
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
          example: 'coastlines'
        owsTitle:
          type: string
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
          example: 'Coastlines'
        owsAbstract:
          type: string
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
          example: 'Coastline/shorelines (BA010)'
        owsKeywords:
          type: string
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
        owsBoundingBox:
          type: object
          required:
            - lowerCorner
            - upperCorner
          properties:
            lowerCorner:
              type: string
              example: '-180 -90'
            upperCorner:
              type: string
              example: '180 90'
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
        owsWGS84BoundingBox:
          type: object
          required:
            - lowerCorner
            - upperCorner
          properties:
            lowerCorner:
              type: string
              example: '-180 -90'
            upperCorner:
              type: string
              example: '180 90'
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
        Style:
          type: object
        Format:
          type: string
          example:
            oneOf:
              pngExample: 'image/png'
              gifExample: 'image/gif'
        infoFormat:
          type: string
          example: 'application/gml+xml'
        Dimension:
          $ref: '#/components/schemas/Dimension'
        owsMetadata:
          type: object
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
        tileMatrixSetLink:
          $ref: '#/components/schemas/tileMatrixSetLink'
    Dimension:
          type: string
          example:
            oneOf:
              timeExample: 'time'
              elevationExample: 'elevation'
              otherExample: 'temperature'
    tileMatrixSetLink:
      type: object
      required:
        - tileMatrixSet
      properties:
        tileMatrixSet:
          $ref: '#/components/schemas/tileMatrixSet'
        tileMatrixLimits:
          $ref: '#/components/schemas/tileMatrixSetLimits'
    tileMatrixSet:
      type: object
      required:
        - matrixSetID
        - owsSupportedCRS
        - tileMatrix
      properties:
        matrixSetID:
          type: string
          example: 'BigWorld'
        matrixSetTitle:
          type: string
        matrixSetAsbtract:
          type: string
        matrixSetKeywords:
          type: string
        matrixSetBoundingBox:
          type: object
          required:
            - lowerCorner
            - upperCorner
          properties:
            lowerCorner:
              type: string
              example: '-180 -90'
            upperCorner:
              type: string
              example: '180 90'
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
        owsSupportedCRS:
          type: string
          xml:
            prefix: "ows"
            namespace: 'http://www.opengis.net/ows/1.1'
          example: 'urn:ogc:def:crs:OGC:1.3:CRS84'
        wellKnownScaleSet:
          type: string
        tileMatrix:
          $ref: '#/components/schemas/tileMatrix'
    tileMatrixSetLimits:
      type: object
      required:
        - tileMatrixID
        - minTileRow
        - maxTileRow
        - minTileCol
        - maxTileCol
      properties:
        tileMatrixID:
          type: string
          example: 'BigWorld'
        minTileRow:
          type: integer
          format: int32
          minimum: 0
        maxTileRow:
          type: integer
          format: int32
        minTileCol:
          type: integer
          format: int32
          minimum: 0
        maxTileCol:
          type: integer
          format: int32
    tileMatrix:
      type: object
      required:
        - tileMatrixIdentifier
        - scaleDenominator
        - topLeftCorner
        - tileWidth
        - tileHeight
        - matrixWidth
        - matrixHeight
      properties:
        tileMatrixIdentifier:
          type: string
          example: '2.5e6'
        tileMatrixTitle:
          type: string
        tileMatrixAsbtract:
          type: string
        tileMatrixKeywords:
          type: string
        scaleDenominator:
          type: number
          format: double
          example: 2.5e6
        topLeftCorner:
          $ref: '#/components/schemas/tilePosition'
        tileWidthInPixels:
          type: integer
          format: int32
          minimum: 0
        tileHeightInPixels:
          type: integer
          format: int32
          minimum: 0
        matrixWidthInTiles:
          type: integer
          format: int32
          minimum: 0
        matrixHeightInTiles:
          type: integer
          format: int32
          minimum: 0
    tilePosition:
      type: object
      required:
        - firstCoordinate
        - secondCoordinate
      properties:
        firstCoordinate:
          type: number
          format: double
          example: -180
        secondCoordinate:
          type: number
          format: double
          example: 84
    Themes:
      type: array
      items:
        $ref: '#/components/schemas/Theme'
    Theme:
      type: object
      required:
        - themeIdentifier
      properties:
        themeIdentifier:
          type: string
          example: 'Boundaries'
        themeTitle:
          type: string
          example: 'Boundaries'
        themeAbstract:
          type: string
        themeKeywords:
          type: string
        Theme:
          $ref: '#/components/schemas/Theme'
        layerRef:
          type: string
          example:
            oneOf:
              Example1: 'coastlines'
              Example2: 'politicalBoundaries'
              Example3: 'depthContours'
    featureGML:
      type: object
      required:
        - 'gml:id'
      xml:
        name: AbstractFeature
        namespace: 'http://www.opengis.net/gml/3.2'
        prefix: gml
      properties:
        'gml:id':
          type: string
          xml:
            namespace: 'http://www.opengis.net/gml/3.2'
            prefix: gml
            attribute: true
